---
layout: pagination
id: index
---
<div class="conteudo">
<div class="postagens">
{% for post in paginator.posts %}
{% include modelopostagem.html %}
{% endfor %}
</div>
<div class="pagination">
  <ul>
    {% if paginator.page != 1 %}
      <li>
        <a href="{{ site.url }}/">&lt;&lt;</a>
      </li>
    {% endif %}
    
    {% if paginator.previous_page %}
      <li>
        {% if paginator.previous_page != 1 %}
          <a href="/pagina/{{ paginator.previous_page }}/">&lt;</a>
        {% else %}
          <a href="{{ site.url }}/">&lt;</a>
        {% endif %}
      </li>
    {% endif %}
    
    {% assign pagination_start = paginator.page | minus: 2 %}
    
    {% if pagination_start == -1 or pagination_start == 0 %}
      {% assign pagination_start = 1 %}
    {% endif %}
    
    {% assign pagination_end = paginator.page | plus: 2 %}
      {% if pagination_end > paginator.total_pages %}
        {% assign pagination_end = paginator.total_pages %}
      {% endif %}
    {% if pagination_end < 5 and paginator.total_pages> 5 %}
      {% assign pagination_end = 5 %}
    {% endif %}
    {% for i in (pagination_start .. pagination_end) %}
      {% if i != 1 %}
        {% assign page_href = "/pagina/" | append: i | append: '/' %}
      {% else %}
        {% assign page_href = "" %}
      {% endif %}
      {% if i == paginator.page %}
        <li class="current-page">
          <a href="{{ site.url }}{{ page_href }}">{{ i }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ site.url }}{{ page_href }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li>
        <a href="{{ site.url }}/pagina/{{ paginator.next_page }}/">&gt;</a>
      </li>
    {% endif %}
    {% if paginator.page != paginator.total_pages %}
      <li>
        <a href="{{ site.url }}/pagina/{{ paginator.total_pages }}/">&gt;&gt;</a>
      </li>
    {% endif %}
  </ul>
</div>
</div>