---
title: amador
layout: categoria
permalink: /categoria/amador
---
<h1 class="site-title">Categoria {{ page.title | capitalize }} - Um Pornozinho</h1>
<div class="conteudo">
<div class="postagens">
{% assign maxRelated = 112 %}
{% assign maxRelatedCounter = 0 %}
{% for post in site.posts %}
	{% if post.categories contains 'amador' or post.categories contains 'amador,' or post.categories contains 'amateur' or post.categories contains 'amateur,' %}
{% include modelopostagem.html %}
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
    {% endif %}
{% endfor %}
</div>
</div>