---
title: ruivas
layout: categoria
permalink: /categoria/ruivas
---
<h1 class="site-title">Categoria {{ page.title  | capitalize }} - Um Pornozinho</h1>
<div class="conteudo">
<div class="postagens">
{% assign maxRelated = 112 %}
{% assign maxRelatedCounter = 0 %}
{% for post in site.posts %}
	{% if post.categories contains 'ruiva,' or post.categories contains 'ruiva' or post.categories contains 'redhead,' or post.categories contains 'redhead' or post.categories contains 'red-head,' or post.categories contains 'red-head' %}
{% include modelopostagem.html %}
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
    {% endif %}
{% endfor %}
</div>
</div>