---
title: sexo grupal
layout: categoria
permalink: /categoria/sexo-grupal
---
<h1 class="site-title">Categoria {{ page.title  | capitalize }} - Um Pornozinho</h1>
<div class="conteudo">
<div class="postagens">
{% assign maxRelated = 112 %}
{% assign maxRelatedCounter = 0 %}
{% for post in site.posts %}
	{% if post.categories contains 'sexo-grupal,' or post.categories contains 'sexo-grupal' or post.categories contains 'group,' or post.categories contains 'group' or post.categories contains 'groupsex,' or post.categories contains 'groupsex' %}
{% include modelopostagem.html %}
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
    {% endif %}
{% endfor %}
</div>
</div>